<!-- HEADING -->
<div id="high" class="head-text">
  <h2 class="text-center">Our Blogs</h2>
</div>
<!-- BLOG CONTENT -->
<div id="blog" class="container">
  <div class="row m-0">
    <div
      class="col p-5 col-md-6 col-lg-4 col-12 column"
      *ngFor="let b of blog; index as imp"
    >
      <app-blogcard [i]="b" [num]="imp"></app-blogcard>
    </div>
  </div>
</div>

<section id="footer">
  <div class="leftfooter p-2">
    <span> Follow MLSA SREC </span>
    <div class="socialIcon">
      <a href="https://www.linkedin.com/in/mlsa-srec-a2ab64262/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/mlsa.srec/">
        <i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://youtube.com/@mlsasrec?si=LPAA2yYoqONzQsBw"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
  </div>
  <div class="rightfooter">
    <div class="cont">
      <span> Contact Us </span>
      <span> mlsa@srec.ac.in </span>
      <span> +91 97915 15546 </span>
    </div>
  </div>
</section>

<div class="backbtn mt-2">
  <div style="cursor: default" class="btn text-light">Back to Top</div>
  <a style="cursor: pointer" (click)="up()"
    ><i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i
  ></a>
  <hr />
</div>
