/* Hero */

#hero {
  position: relative;
  width: 100%;
  background: linear-gradient(
    -325deg,
    rgba(31, 57, 97, 255) 80%,
    rgba(0, 139, 226, 255)
  );
  display: flex;
  color: #fff;
  height: 90vh;
}
#hero .leftsidebar,
#hero .rightsidebar {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero .leftsidebar span {
  font-size: 24px;
}
#hero .leftsidebar .btn {
  color: #fff;
  background: rgba(0, 233, 255, 1);
}
#hero .leftsidebar .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .leftsidebar .btn-group span {
  width: 10px;
  height: 10px;
  background: rgba(0, 233, 255, 1);
}
#hero .leftsidebar .btn-group i {
  color: rgba(0, 233, 255, 1);
}
#hero .leftsidebar .btn-group span:nth-child(2) {
  width: 20px;
  height: 20px;
}

#hero .leftsidebar .btn-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#hero .rightsidebar img {
  width: 400px;
  height: auto;
}

/* About */
#About {
  color: #ffffff;
  width: 100%;
  height: 90vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle at 0% 40%,
    rgba(31, 116, 246, 1) 0%,
    rgba(31, 57, 97, 255) 30%
  );
}

#About .container {
  position: relative;
  width: 80%;
  background: rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  padding: 100px;
  padding-right: 175px !important;
  align-items: center;
  /* flex-direction: column; */
  text-align: justify;
}

#About .abtimg {
  width: 400px;
  height: auto;
  position: absolute;
  right: -19.5%;
  top: 5%;
  z-index: 1;
}

/* Domain */
#Domain1 {
  width: 100%;
  min-height: 70vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle at 50% 40%,
    rgba(31, 116, 246, 1) 0%,
    rgba(31, 57, 97, 255) 20%
  );
}

#Domain1 .row .col .card img {
  height: 250px;
  width: 275px;
}
#Domain1 .row .col .card {
  border-radius: 40px;
  background: transparent;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(255, 255, 255, 0.5);
}

/* footer */
#footer {
  color: #fff;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}

#footer .leftfooter,
.rightfooter {
  display: flex;
  flex-direction: column;
}
#footer .cont {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#footer .socialIcon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.backbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backbtn hr {
  width: 90%;
  border: 1px solid rgba(255, 255, 255);
}
.backbtn i {
  transform: rotateX(180deg);
  color: #fff;
}

/* Dots */

#hero .Herodotleft {
  position: absolute;
  top: 5%;
  left: -7%;
}
#hero .Herodotright {
  position: absolute;
  top: 12%;
  right: -7%;
}
#About .container {
  width: 100%;
}
#About .Aboutdotleftup {
  position: absolute;
  bottom: 0;
  left: -3%;
}
#About .Aboutdotrightup {
  position: absolute;
  top: 0;
  right: -3%;
  transform: rotateX(180deg) rotateY(180deg);
}
#hero .Herodotrightdown {
  position: absolute;
  bottom: 0;
  transform: rotateY(180deg);
  right: -6%;
}
#Domain1 .domaindotleftdown {
  position: absolute;
  top: 0;
  transform: rotateX(180deg);
  left: -3%;
}

@media (max-width: 768px) {
  .rightsidebar {
    display: none !important;
  }
  .leftsidebar {
    text-align: center;
  }
  #About {
    height: 90vh !important;
    padding: 20px;
  }
  #About .container {
    padding: 20px !important;
  }
  .abtimg {
    display: none;
  }
  #Domain1 .card {
    width: 300px !important;
  }
  #Domain1 .row .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
