<!--buttons-->
<div id="high" class="team-boxed">
  <div class="container">
    <div class="d-flex justify-content-center pt-5">
      <div class="mr-5">
        <button type="button" class="btn-up btn-primary btn-lg">
          <a routerLink="/team">Community Team</a>
        </button>
      </div>
      <div>
        <button type="button" class="btn-up btn-primary btn-lg">
          <a routerLink="coreteam">Core Team</a>
        </button>
      </div>
    </div>
  </div>

  <br />

  <!--heading-->

  <h2 class="text-center">Core Team</h2>

  <!--sub-heading-->

  <br /><br />
  <p class="text-center">Web Development Team</p>
  <br />

  <!--card-1-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/jayaramakrishna.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 20px">Jayaramakrishnan P</h3>
              <p class="title">Team lead</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/jayaramakrishnan-p-3852a2252/
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--card-2-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/deepika.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Deepika S G</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/deepika-s-91b399237/
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/mukunthan.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Mukunthan S</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/mukunthan-sivaraman/
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/vijayasaran.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">V Vijayasaran</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/vijayasaran-v
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/harisrevatcha.jpeg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Harisrevatcha R</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/harisrevatcha-r-41a081228
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--sub-heading-->

  <br /><br />
  <p class="text-center">Artificial Intelligence & Machine Learning Team</p>
  <br />

  <!--card-3-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/sirpypalaniswamy.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Sirpy Palaniswamy</h3>
              <p class="title">Team lead</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/sirpy-palaniswamy
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--card-4-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/yashwanthRam.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Yaswanth Ram</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/yashwanth-ram-s-7480131bb/
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/surendren.jpeg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Surendran M</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/surendran-m-586b2624b
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/harikrishnna.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Harikrishna S</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/hari-krishna-69b341225
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/ishanna.png "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Ishanna BM</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/ishanna-b-m-01334a249
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--sub-heading-->

  <br /><br />
  <p class="text-center">Internet of Things Team</p>
  <br />

  <!--card-5-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/anjusha.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Anjusha J</h3>
              <p class="title">Team lead</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/anjusha-j-564103212
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--card-6-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/swathiga.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Swathiga</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/swathiga-a-321721227
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/Pradeesh.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Pradeesh M</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/pradeesh-m-99691321a
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/hariharans.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Hariharan S</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/hariharan-s-a10a9b24b
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/vijayakrishna.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Vijaya Krishna R</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/vijaya-krishna-3571a9237
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--sub-heading-->

  <br /><br />
  <p class="text-center">Cloud Computing Team</p>
  <br />

  <!--card-7-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/swatha.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Swatha M</h3>
              <p class="title">Team lead</p>
            </div>
          </div>
          <a
            class="social"
            href="http://www.linkedin.com/in/swatha-manoharan-896267246
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <!--card-8-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/deepakm.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Deepak M</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/deepak-undefined-4a574224b
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/manivasagam.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Mani Vasagam S</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/mani-vasagam-s-54071a24a/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BpwqLXCSPQZq%2BoGzXEUgjWw%3D%3D
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
        <div class="card mx-auto" style="width: 250px; height: 288px">
          <div class="card mx-auto" style="width: 250px; height: 250px">
            <div class="card mx-auto" style="width: 230px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/balamuralikrishnan.jpg "
                  height="90"
                  width="90"
                />
              </div>
              <h3 class="name" style="font-size: 20px">Balamuralikrishna P</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a
            class="social"
            href="https://www.linkedin.com/in/balamurali-krishna-6b5895226
          "
            ><i class="bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>

    <!--sub-heading-->

    <br /><br />
    <p class="text-center">Technical Content Writing Team</p>
    <br />

    <!--card-9-->

    <div class="container">
      <div class="row" style="left: 10px">
        <div class="col-sm-12 text-center">
          <div class="card mx-auto" style="width: 250px; height: 288px">
            <div class="card mx-auto" style="width: 250px; height: 250px">
              <div class="card mx-auto" style="width: 230px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/haripankanvijay.jpg "
                    height="90"
                    width="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">
                  Hari Pankan Vijay A
                </h3>
                <p class="title">Team lead</p>
              </div>
            </div>
            <a
              class="social"
              href="www.linkedin.com/in/hari-pankan-vijay-2b52b51b3
            "
              ><i class="bi-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!--card-10-->

    <div class="container">
      <div class="row" style="left: 10px">
        <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
          <div class="card mx-auto" style="width: 250px; height: 288px">
            <div class="card mx-auto" style="width: 250px; height: 250px">
              <div class="card mx-auto" style="width: 230px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/gourik.jpg "
                    height="90"
                    width="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">Gouri K</h3>
                <p class="title">Executive member</p>
              </div>
            </div>
            <a
              class="social"
              href="https://www.linkedin.com/in/gouri-k-220480212
            "
              ><i class="bi-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
          <div class="card mx-auto" style="width: 250px; height: 288px">
            <div class="card mx-auto" style="width: 250px; height: 250px">
              <div class="card mx-auto" style="width: 230px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/monica.jpg "
                    height="90"
                    width="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">Monica R</h3>
                <p class="title">Executive member</p>
              </div>
            </div>
            <a
              class="social"
              href="https://www.linkedin.com/in/monica-krishnan
            "
              ><i class="bi-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
          <div class="card mx-auto" style="width: 250px; height: 288px">
            <div class="card mx-auto" style="width: 250px; height: 250px">
              <div class="card mx-auto" style="width: 230px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/shyam.jpg "
                    height="90"
                    width="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">Shyam G</h3>
                <p class="title">Executive member</p>
              </div>
            </div>
            <a class="social" href="#"><i class="bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <!--sub-heading-->

      <br /><br />
      <p class="text-center">AR & VR Team</p>
      <br />

      <!--card-11-->

      <div class="container">
        <div class="row" style="left: 10px">
          <div class="col-sm-12 text-center">
            <div class="card mx-auto" style="width: 250px; height: 288px">
              <div class="card mx-auto" style="width: 250px; height: 250px">
                <div class="card mx-auto" style="width: 230px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/gowtham.jpg "
                      height="90"
                      width="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">Gowtham G</h3>
                  <p class="title">Team lead</p>
                </div>
              </div>
              <a
                class="social"
                href="https://www.linkedin.com/in/sriram-b-b6896b25b/
              "
                ><i class="bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <!--card-12-->

      <div class="container">
        <div class="row" style="left: 10px">
          <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
            <div class="card mx-auto" style="width: 250px; height: 288px">
              <div class="card mx-auto" style="width: 250px; height: 250px">
                <div class="card mx-auto" style="width: 230px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/sriram.jpg "
                      height="90"
                      width="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">Sriram B</h3>
                  <p class="title">Executive member</p>
                </div>
              </div>
              <a class="social" href="#"><i class="bi-linkedin"></i></a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
            <div class="card mx-auto" style="width: 250px; height: 288px">
              <div class="card mx-auto" style="width: 250px; height: 250px">
                <div class="card mx-auto" style="width: 230px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/sanjaykrishna.jpg "
                      height="90"
                      width="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">
                    Sanjay Krishnaa KP
                  </h3>
                  <p class="title">Executive member</p>
                </div>
              </div>
              <a
                class="social"
                href="https://www.linkedin.com/in/sanjai-krishnaa-182b75260
              "
                ><i class="bi-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
            <div class="card mx-auto" style="width: 250px; height: 288px">
              <div class="card mx-auto" style="width: 250px; height: 250px">
                <div class="card mx-auto" style="width: 230px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/sethumadhavan.jpg "
                      height="90"
                      width="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">Sethumadavan A</h3>
                  <p class="title">Executive member</p>
                </div>
              </div>
              <a
                class="social"
                href="www.linkedin.com/in/sethu-madavan-01011606sm
              "
                ><i class="bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>

        <!--sub-heading-->

        <br /><br />
        <p class="text-center">Cyber Security Team</p>
        <br />

        <!--card-13-->

        <div class="container">
          <div class="row" style="left: 10px">
            <div class="col-sm-12 text-center">
              <div class="card mx-auto" style="width: 250px; height: 288px">
                <div class="card mx-auto" style="width: 250px; height: 250px">
                  <div class="card mx-auto" style="width: 230px; height: 80px">
                    <div class="box">
                      <img
                        class="rounded-circle"
                        src="  assets/images/surendrakumar.png "
                        height="90"
                        width="90"
                      />
                    </div>
                    <h3 class="name" style="font-size: 22px">Surendrakumar</h3>
                    <p class="title">Team lead</p>
                  </div>
                </div>
                <a
                  class="social"
                  href="https://www.linkedin.com/in/surendra-kumar-773512214
                "
                  ><i class="bi-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!--card-14-->

        <div class="container">
          <div class="row" style="left: 10px">
            <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
              <div class="card mx-auto" style="width: 250px; height: 288px">
                <div class="card mx-auto" style="width: 250px; height: 250px">
                  <div class="card mx-auto" style="width: 230px; height: 80px">
                    <div class="box">
                      <img
                        class="rounded-circle"
                        src="  assets/images/hariniravindran.png "
                        height="90"
                        width="90"
                      />
                    </div>
                    <h3 class="name" style="font-size: 22px">
                      Harini Ravindran
                    </h3>
                    <p class="title">Executive member</p>
                  </div>
                </div>
                <a
                  class="social"
                  href="https://www.linkedin.com/mwlite/in/harini-ravindran-911ba8238
                "
                  ><i class="bi-linkedin"></i
                ></a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
              <div class="card mx-auto" style="width: 250px; height: 288px">
                <div class="card mx-auto" style="width: 250px; height: 250px">
                  <div class="card mx-auto" style="width: 230px; height: 80px">
                    <div class="box">
                      <img
                        class="rounded-circle"
                        src="  assets/images/akilv.jpg "
                        height="90"
                        width="90"
                      />
                    </div>
                    <h3 class="name" style="font-size: 22px">Akil V</h3>
                    <p class="title">Executive member</p>
                  </div>
                </div>
                <a class="social" href="#"><i class="bi-linkedin"></i></a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
              <div class="card mx-auto" style="width: 250px; height: 288px">
                <div class="card mx-auto" style="width: 250px; height: 250px">
                  <div class="card mx-auto" style="width: 230px; height: 80px">
                    <div class="box">
                      <img
                        class="rounded-circle"
                        src="  assets/images/jananisri.jpg "
                        height="90"
                        width="90"
                      />
                    </div>
                    <h3 class="name" style="font-size: 22px">Jananisri T</h3>
                    <p class="title">Executive member</p>
                  </div>
                </div>
                <a
                  class="social"
                  href="https://www.linkedin.com/in/jananisri-t-418a5b229
                "
                  ><i class="bi-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>

<section id="footer">
  <div class="leftfooter p-2">
    <span> Follow MLSA SREC </span>
    <div class="socialIcon">
      <a href="https://www.linkedin.com/in/mlsa-srec-a2ab64262/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/mlsa.srec/">
        <i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://youtube.com/@mlsasrec?si=LPAA2yYoqONzQsBw"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
  </div>
  <div class="rightfooter">
    <div class="cont">
      <span> Contact Us </span>
      <span> mlsa@srec.ac.in </span>
      <span> +91 97915 15546 </span>
    </div>
  </div>
</section>
<div class="backbtn mt-2">
  <div style="cursor: default" class="btn text-light">Back to Top</div>
  <a style="cursor: pointer" (click)="up()"
    ><i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i
  ></a>
  <hr />
</div>
