<div id="high" class="team-boxed">
  <!--buttons-->
  <div class="container">
    <div class="d-flex justify-content-center pt-5">
      <div class="mr-5">
        <button type="button" class="btn-up btn-primary btn-lg">
          <a routerLink="team">Community Team</a>
        </button>
      </div>
      <div>
        <button type="button" class="btn-up btn-primary btn-lg">
          <a routerLink="coreteam">Core Team</a>
        </button>
      </div>
    </div>
  </div>

  <!--heading-->

  <h2 class="text-center m-5">Community Team</h2>

  <!--cards-1-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Praneet S</h3>
              <p class="title">Community lead</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!--sub-heading-->

  <br /><br />
  <p class="text-center">Technical Team</p>
  <br />

  <!--card-2-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Joshika</h3>
              <p class="title">Team lead</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!--cards-3-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Sangeetha H</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">T Abishek</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">M Deepak</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!--sub-heading-->

  <br /><br />
  <p class="text-center">Program Management Team</p>
  <br />

  <!--cards-4-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Harshitha Mohan</h3>
              <p class="title">Team lead</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!--cards-5-->

  <div class="container">
    <div class="row" style="left: 10px">
      <div class="col-sm-12 col-md-6 col-lg-6 my-3 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Archana B</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 my-3 text-center">
        <div class="card mx-auto" style="width: 288px; height: 288px">
          <div class="card mx-auto" style="width: 288px; height: 250px">
            <div class="card mx-auto" style="width: 260px; height: 80px">
              <div class="box">
                <img
                  class="rounded-circle"
                  src="  assets/images/profile pic icon.jpg  "
                  height="90"
                />
              </div>
              <h3 class="name" style="font-size: 22px">Ashley Kerubin J</h3>
              <p class="title">Executive member</p>
            </div>
          </div>
          <a class="social" href="#"><i class="bi-linkedin"></i></a>
        </div>
      </div>
    </div>

    <!--sub-heading-->

    <br /><br />
    <p class="text-center">Design Team</p>
    <br />

    <!--cards-6-->

    <div class="container">
      <div class="row" style="left: 10px">
        <div class="col-sm-12 text-center">
          <div class="card mx-auto" style="width: 288px; height: 288px">
            <div class="card mx-auto" style="width: 288px; height: 250px">
              <div class="card mx-auto" style="width: 260px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/profile pic icon.jpg  "
                    height="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">
                  Jeyapriyadharshini S
                </h3>
                <p class="title">Team lead</p>
              </div>
            </div>
            <a class="social" href="#"><i class="bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!--cards-7-->

    <div class="container">
      <div class="row" style="left: 10px">
        <div class="col-sm-12 col-md-6 col-lg-6 my-3 text-center">
          <div class="card mx-auto" style="width: 288px; height: 288px">
            <div class="card mx-auto" style="width: 288px; height: 250px">
              <div class="card mx-auto" style="width: 260px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/profile pic icon.jpg  "
                    height="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">P Taruukrishna</h3>
                <p class="title">Executive member</p>
              </div>
            </div>
            <a class="social" href="#"><i class="bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 my-3 text-center">
          <div class="card mx-auto" style="width: 288px; height: 288px">
            <div class="card mx-auto" style="width: 288px; height: 250px">
              <div class="card mx-auto" style="width: 260px; height: 80px">
                <div class="box">
                  <img
                    class="rounded-circle"
                    src="  assets/images/profile pic icon.jpg  "
                    height="90"
                  />
                </div>
                <h3 class="name" style="font-size: 22px">Devaharini R</h3>
                <p class="title">Executive member</p>
              </div>
            </div>
            <a class="social" href="#"><i class="bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <!--sub-heading-->

      <br /><br />
      <p class="text-center">Event Management Team</p>
      <br />

      <!--cards-8-->

      <div class="container">
        <div class="row" style="left: 10px">
          <div class="col-sm-12 text-center">
            <div class="card mx-auto" style="width: 288px; height: 288px">
              <div class="card mx-auto" style="width: 288px; height: 250px">
                <div class="card mx-auto" style="width: 260px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/profile pic icon.jpg  "
                      height="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">Prassath A</h3>
                  <p class="title">Team lead</p>
                </div>
              </div>
              <a class="social" href="#"><i class="bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!--cards-9-->

      <div class="container">
        <div class="row" style="left: 10px">
          <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
            <div class="card mx-auto" style="width: 288px; height: 288px">
              <div class="card mx-auto" style="width: 288px; height: 250px">
                <div class="card mx-auto" style="width: 260px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/profile pic icon.jpg  "
                      height="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">Gurucharran V</h3>
                  <p class="title">Executive member</p>
                </div>
              </div>
              <a class="social" href="#"><i class="bi-linkedin"></i></a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
            <div class="card mx-auto" style="width: 288px; height: 288px">
              <div class="card mx-auto" style="width: 288px; height: 250px">
                <div class="card mx-auto" style="width: 260px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/profile pic icon.jpg  "
                      height="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">
                    Reegan Cyril Raj A
                  </h3>
                  <p class="title">Executive member</p>
                </div>
              </div>
              <a class="social" href="#"><i class="bi-linkedin"></i></a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 my-3 text-center">
            <div class="card mx-auto" style="width: 288px; height: 288px">
              <div class="card mx-auto" style="width: 288px; height: 250px">
                <div class="card mx-auto" style="width: 260px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/profile pic icon.jpg  "
                      height="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">
                    Navaneeth Kumar S
                  </h3>
                  <p class="title">Executive member</p>
                </div>
              </div>
              <a class="social" href="#"><i class="bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!--sub-heading-->

      <br /><br />
      <p class="text-center">Club Advisor</p>
      <br />

      <!--cards-10-->

      <div class="container">
        <div class="row" style="left: 10px">
          <div class="col-sm-12 text-center">
            <div class="card mx-auto" style="width: 288px; height: 288px">
              <div class="card mx-auto" style="width: 288px; height: 250px">
                <div class="card mx-auto" style="width: 260px; height: 80px">
                  <div class="box">
                    <img
                      class="rounded-circle"
                      src="  assets/images/profile pic icon.jpg  "
                      height="90"
                    />
                  </div>
                  <h3 class="name" style="font-size: 22px">Harshini S</h3>
                  <p class="title">Club Advisor</p>
                </div>
              </div>
              <a class="social" href="#"><i class="bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </div>
</div>

<section id="footer">
  <div class="leftfooter p-2">
    <span> Follow MLSA SREC </span>
    <div class="socialIcon">
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
  <div class="rightfooter">
    <div class="cont">
      <span> Contact Us </span>
      <span> Mlsa.srec@gmail.com </span>
      <span> +91 52375 52638 </span>
    </div>
  </div>
</section>

<div class="backbtn mt-2">
  <div style="cursor: default" class="btn text-light">Back to Top</div>
  <a style="cursor: pointer" (click)="up()">
    <i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i>
  </a>
  <hr />
</div>
