<!--Hero-->
<div id="hero" class="container-fluid">
  <div class="leftsidebar">
    <h1 class="display-2">Welcome to MLSA SREC</h1>
    <span>be a force for good...</span>
    <a href="#About" class="btn mt-2">About us</a>

    <div class="btn-group mt-5">
      <span class="rounded-circle"> </span>
      <span class="rounded-circle"> </span>
      <a href="#About">
        <i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i>
      </a>
    </div>
  </div>
  <div class="rightsidebar">
    <img src="../../assets/images/mlsa.PNG" alt="" />
  </div>
</div>

<!-- About -->

<section id="About">
  <h1 class="m-5 display-4 text-center text-light align-top">About Us</h1>
  <div
    class="container rounded"
    style="display: flex; flex-direction: column; align-items: start"
  >
    Microsoft Learn Student Ambassador program of Sri Ramakrishna Engineering
    College is a community started by the students, for the students and to the
    students of SREC. The vision and mission of MLSA SREC is to pave a way for
    the innovation of the students and to provide an environment to improvise
    their technical knowledge by practically working on it. We have two separate
    departments where one concentrates on conducting regular events like
    hackathons , ideation contests and other non technical events . The other is
    the Core team which deals with handling projects and to teach students by
    conducting workshops and seminars on their respective donations. Our
    community is taken care by the department of Electronics and Communication
    Engineers of SREC. It’s an immense pleasure seeing you in our world.
    <div
      class=""
      style="
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        transform: translateY(20px);
      "
    >
      PRANNET S <br />
      (Community Lead)
      <img
        src="assets/images/mlsa_lead.jpeg"
        style="height: 75px; width: 75px; object-fit: cover; border-radius: 50%"
      />
    </div>
    <img class="abtimg" src="assets/images/Saly-13.png" alt="" />
  </div>
  <img class="Aboutdotrightup" src="assets/images/Doodle Dots.png" alt="" />

  <img class="Aboutdotleftup" src="assets/images/Doodle Dots.png" alt="" />
</section>

<!--Domain  -->
<section id="Domain1" style="margin-top: 100px">
  <h1 class="m-5 display-4 text-center text-light align-top">Our Domains</h1>
  <div class="row">
    <div class="col p-3" data-tilt>
      <div class="card p-2">
        <img src="assets/images/Saly-19.png" class="card-img-top" />
        <h5 class="card-title text-center text-light">Corporate</h5>
      </div>
    </div>
    <div class="col p-3">
      <div class="card p-2" data-tilt>
        <img src="assets/images/Saly-24.png" class="card-img-top" />
        <h5 class="card-title text-center text-light">Creatives</h5>
      </div>
    </div>
    <div class="col p-3">
      <div class="card p-2" data-tilt>
        <img src="assets/images/Saly-31.png" class="card-img-top" />
        <h5 class="card-title text-center text-light">Technical</h5>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="leftfooter p-2">
    <span> Follow MLSA SREC </span>
    <div class="socialIcon">
      <a
        href="https://www.linkedin.com/in/mlsa-srec-408965224/?originalSubdomain=in"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="instagram.com/mlsa.srec/">
        <i class="fa-brands fa-instagram"></i
      ></a>
      <a href="instagram.com/mlsa.srec/"
        ><i class="fa-brands fa-twitter"></i
      ></a>
    </div>
  </div>
  <div class="rightfooter">
    <div class="cont">
      <span> Contact Us </span>
      <span> Mlsa.srec@gmail.com </span>
      <span> +91 52375 52638 </span>
    </div>
  </div>
</section>

<div class="backbtn mt-2">
  <div class="btn text-light">Back to Top</div>
  <a href="#hero"><i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i></a>
  <hr />
</div>
