<!--Hero-->
<div id="hero" class="container-fluid">
  <div class="leftsidebar">
    <h1 class="display-2">Welcome to MLSA SREC</h1>
    <span>be a force for good...</span>
    <a href="#About" class="btn mt-2">About us</a>

    <div class="btn-group mt-5">
      <span class="rounded-circle"> </span>
      <span class="rounded-circle"> </span>
      <a href="#About">
        <i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i>
      </a>
    </div>
  </div>
  <div class="rightsidebar">
    <img src="../../assets/images/mlsa.PNG" alt="" />
  </div>
</div>

<!-- About -->

<section id="About">
  <h1 class="m-5 display-4 text-center text-light align-top">About Us</h1>
  <div class="container rounded">
    Led by Microsoft Learn Student Ambassadors, our technical club Microsoft
    Learn Student Ambassadors SREC focuses on lighting a fire under zealous and
    spirited thinkers. Starting years back, we’ve been committed to serving the
    community. We regularly conduct events, organize workshops, technical talks,
    webinars, build community projects to develop young minds, and help them
    recognize and uncover their potential, under the esteemed name of the
    organization, to carry forth and express its legacy.
    <img class="abtimg" src="assets/images/Saly-13.png" alt="" />
  </div>
  <img class="Aboutdotrightup" src="assets/images/Doodle Dots.png" alt="" />

  <img class="Aboutdotleftup" src="assets/images/Doodle Dots.png" alt="" />
</section>

<!--Domain  -->
<section id="Domain1">
  <h1 class="m-5 display-4 text-center text-light align-top">Our Domains</h1>
  <div class="row">
    <div class="col p-3" data-tilt>
      <div class="card p-2">
        <img src="assets/images/Saly-19.png" class="card-img-top" />
        <h5 class="card-title text-center text-light">Corporate</h5>
      </div>
    </div>
    <div class="col p-3">
      <div class="card p-2" data-tilt>
        <img src="assets/images/Saly-24.png" class="card-img-top" />
        <h5 class="card-title text-center text-light">Creatives</h5>
      </div>
    </div>
    <div class="col p-3">
      <div class="card p-2" data-tilt>
        <img src="assets/images/Saly-31.png" class="card-img-top" />
        <h5 class="card-title text-center text-light">Technical</h5>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="leftfooter p-2">
    <span> Follow MLSA SREC </span>
    <div class="socialIcon">
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>
  <div class="rightfooter">
    <div class="cont">
      <span> Contact Us </span>
      <span> Mlsa.srec@gmail.com </span>
      <span> +91 52375 52638 </span>
    </div>
  </div>
</section>

<div class="backbtn mt-2">
  <div class="btn text-light">Back to Top</div>
  <a href="#hero"><i class="fa-solid fa-circle-chevron-down mt-2 fa-xl"></i></a>
  <hr />
</div>
